<div class="page" [class.loading]="!!loading">
  <div class="section">
    <div>Mock api calls</div>

    <form [formGroup]="form">
      <ng-container formArrayName="calls">
        <ng-container *ngFor="let call of calls.controls; let i = index">
          <ng-container *ngIf="call | formGroup as formGroup">
            <ng-container *ngIf="formGroup.controls['edit'].value; else displayOnly">
              <ng-container [formGroup]="formGroup">
                <div class="flex-row">
                  <div>
                    <label [for]="'time-' + i">Api response time</label>
                    <input type="number" [id]="'time-' + i" formControlName="time">
                  </div>

                  <div *ngIf="!formGroup.controls['halting'].value">
                    <label [for]="'payload-' + i">Payload</label>
                    <input type="text" [id]="'payload-' + i" formControlName="payload">
                  </div>
                </div>
        
                <div class="flex-row">
                  <ng-container *ngIf="!formGroup.controls['halting'].value">
                      <input type="checkbox" [id]="'blocking-' + i" formControlName="blocking" />
                      <label [for]="'blocking-' + i">Blocking</label>

                      <input type="checkbox" [id]="'cachable-' + i" formControlName="cachable" />
                      <label [for]="'cachable-' + i">Cachable</label>
                  </ng-container>

                  <input type="checkbox" [id]="'halting-' + i" formControlName="halting" />
                  <label [for]="'halting-' + i">Wait</label>

                  <button (click)="removeApiFormGroup(i)">Remove api call</button>
                  <button (click)="toggleEditMode(formGroup)">Display Only</button>
                </div>
              </ng-container>
            </ng-container>

            <ng-template #displayOnly>
              <div *ngIf="!formGroup.controls['halting'].value; else haltDisplay">
                <div class="flex-row">
                  <div>
                    <div>Response time: {{ formGroup.controls['time'].value }} / {{ formGroup.controls['blocking'].value ? "BLOCKING" : "PARALLEL" }}</div>
                    <div>Playload: {{ formGroup.controls['payload'].value }}{{ formGroup.controls['cachable'].value ? " / (Cachable)" : "" }}</div>
                  </div>

                  <button (click)="toggleEditMode(formGroup)">Edit</button>
                  <button (click)="removeApiFormGroup(i)">Remove api call</button>
                </div>
              </div>

              <ng-template #haltDisplay>
                <div class="flex-row">
                  <div>
                    <div>Wait time: {{ formGroup.controls['time'].value }}</div>
                    <div>Payload: none since this is just waiting</div>
                  </div>
                  
                  <button (click)="toggleEditMode(formGroup)">Edit</button>
                </div>
              </ng-template>
            </ng-template>

            <div class="border"></div>

          </ng-container>
         
        </ng-container>
      </ng-container>
    </form>
    
    <button (click)="pushApiFormGroup(undefined, undefined)">Add api call</button>
  </div>

  <div class="section">
    <div class="flex-row">
      <button (click)="forceLoader = true">Show loading state</button>

      <ng-container *ngFor="let loaderOption of loaders">
        <input type="radio" [id]="loaderOption" name="loader" [value]="loaderOption" (click)="setLoader(loaderOption)" />
        <label [for]="loaderOption">{{ loaderOption }}</label>
      </ng-container>
    </div>

    <div *ngIf="orderedApiCalls$ | async as orderedApiCalls">
      <div *ngFor="let orderedNestedApiCalls of orderedApiCalls">
        <div *ngFor="let orderedNestedApiCall of orderedNestedApiCalls">
          <ng-container *ngIf="!orderedNestedApiCall.halting">
            <div>Response time: {{ orderedNestedApiCall.time }} / {{ orderedNestedApiCall.blocking ? "BLOCKING" : "PARALLEL" }}</div>
            <div>Playload: {{ orderedNestedApiCall.payload }}{{ orderedNestedApiCall.cachable ? " / (Cachable)" : "" }}</div>
          </ng-container>

          <ng-container *ngIf="orderedNestedApiCall.halting">
            <div>Wait time: {{ orderedNestedApiCall.time }}</div>
            <div>Payload: none since this is just waiting</div>
          </ng-container>
        </div>

        <div class="border"></div>
      </div>

      <div class="flex-row">
        <button (click)="runSimulation(false)">Run</button>
        <button (click)="runSimulation(true)">Run with Cache</button>
      </div>

      <div>
        <div>Payloads:</div>
        <div *ngIf="!payloads.length && !timeoutRefs.length">None yet. Click "Run"</div>
        <div *ngFor="let payload of payloads">{{ payload.payload }}: {{ payload.time }}</div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="forceLoader || loading">
  <app-loader *ngIf="loader === Loader.SPINNER" (click)="forceLoader = false"></app-loader>
  <app-loader class="fade" *ngIf="loader === Loader.DELAY_SPINNER" (click)="forceLoader = false"></app-loader>
  <app-progressive *ngIf="loader === Loader.PROGRESSIVE" (click)="forceLoader = false"></app-progressive>
  <app-progressive class="fade" *ngIf="loader === Loader.DELAY_PROGRESSIVE" (click)="forceLoader = false"></app-progressive>
</ng-container>
